name: Build, test and package

on: push

jobs:
  package:
    runs-on: ubuntu-20.04
    steps:
      - name: Disable disk flush
        run: sudo apt-get install -y libeatmydata1
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            7.0.x
      - name: Start MySQL for testing
        run: sudo systemctl start mysql.service
      - name: Test
        run: |
          dotnet test "./BadMedicine.Dicom.Tests/BadMedicine.Dicom.Tests.csproj" --nologo -c Release
          curl -sL https://raw.githubusercontent.com/SMI/DicomTypeTranslation/master/Templates/CT.it > ./CT.it
          cp BadDicom/BadDicom.template.yaml BadDicom.yaml
          dotnet run --project BadDicom/BadDicom.csproj -- ./ 50000 10 CT
          sed -i "s/Batches: 1/Batches: 5/g" ./BadDicom.yaml
          sed -i "s/DropTables: false/DropTables: true/g" ./BadDicom.yaml
          dotnet run --project BadDicom/BadDicom.csproj -- ./ 50000 10 CT
      - name: Package
        run: |
          mkdir -p dist
          dotnet pack ./BadMedicine.Dicom/BadMedicine.Dicom.csproj -c Release -p:IncludeSymbols=true -p:Version=$(grep AssemblyInformationalVersion SharedAssemblyInfo.cs | cut -d'"' -f2) -nologo
          for platform in linux-x64 win-x64 osx-{arm64,x64}
          do
            dotnet publish BadDicom/BadDicom.csproj -c Release -r $platform -o $platform --self-contained true -nologo -v q -p:PublishSingleFile=true -p:DebugType=embedded -p:GenerateDocumentationFile=false
          done
          zip -9r dist/baddicom-win-x64-v$(grep AssemblyInformationalVersion SharedAssemblyInfo.cs | cut -d'"' -f2).zip ./win-x64
          for platform in linux-x64 win-x64 osx-{arm64,x64}
          do
            tar cJf dist/baddicom-${platform}-v$(grep AssemblyInformationalVersion SharedAssemblyInfo.cs | cut -d'"' -f2).tar.xz ./$platform
          done
          ls -lh dist
      - name: Nuget push
        if: contains(github.ref,'refs/tags/')
        run: |
          dotnet nuget push ./BadMedicine.Dicom/bin/Release/HIC.BadMedicine.Dicom.*.nupkg -k ${{ secrets.NUGET_KEY }} --skip-duplicate -s https://api.nuget.org/v3/index.json
      - name: Upload release binaries
        uses: svenstaro/upload-release-action@2.9.0
        if: contains(github.ref, 'refs/tags/v')
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/baddicom*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
